/* ====================================================================== 
VARIABLES
====================================================================== */
/* COLORS */
:root {
  --color-white: #f4f4f4;
  --color-black: #090909;
  --color-gray-dark: #444;
  --color-gray: #888;
  --color-gray-light: #bbb;
  --color-gray-lighter: #e5e5e5;

  --color-primary-light: #3f51b5;
  --color-primary: #303f9f;
  --color-primary-dark: #1a237e;

  /* OTHER */
  --box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}



/* ====================================================================== 
RESETS
====================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

i {
  margin: 10px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}



/* ====================================================================== 
LAYOUT
====================================================================== */
.container {
  max-width: 100rem;
  margin: 0 auto;
}



/* ====================================================================== 
HEADER
====================================================================== */
.header {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem;
  width: 100%;
  box-shadow: var(--box-shadow);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.header__title,
.header__subtitle {
  color: var(--color-white);
  font-weight: 300;
}

.header__title {
  font-size: 4rem;
}

.header__subtitle {
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.header__rmitid {
  font-size: 1.2rem;
}

.header__subtitle {
  font-size: 1.5rem;
}

/* NAVIGATION */
.header__nav-list-item {
  display: inline-block;
}

.header__nav-list-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-link:link,
.header__nav-link:visited {
  font-size: 1.4rem;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 6px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.header__nav-link:hover,
.header__nav-link:active {
  border-bottom: 2px solid var(--color-white);
}

#header__nav-link--selected {
  border-bottom: 2px solid var(--color-white);
}

/* ====================================================================== 
CONTENT
====================================================================== */
.content {
  padding: 4rem;
}



/* ====================================================================== 
PROFILE SECTION
====================================================================== */
.profile {
  display: flex;
  flex-direction: column;
}

.profile__part1 {
  display: flex;
}

.profile__photo {
  align-self: flex-start;
  width: 15rem;
  margin: 0 3rem 0 0;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.profile__part2 {
  display: flex;
}

.profile__futsal-photo {
  align-self: flex-start;
  width: 22rem;
  margin: 0 0 0 3rem;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}



/* ====================================================================== 
INTEREST SECTION
====================================================================== */
.interest {
  margin-top: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: var(--color-gray-light);
}

.interest__title {
  column-span: all;
}

/* **************************************************
FOOTER
************************************************** */
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: var(--color-gray-light);
}



/* **************************************************
PERSONAL PAGE
************************************************** */



/* **************************************************
PAGE ABOUT
************************************************** */

.futsal-photo-container {
  display: inline-block;
  width: 200px;
  /* height: 150px; */
  /* margin: 30px auto 0; */
  /* border-radius: 100%; */
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.futsal-photo {
  display: block;
  width: 100%;
  /* -webkit-transform: scale(1.75);
  transform: scale(1.75); */
}

/* **************************************************
PAGE CONTACT
************************************************** */
.contact-info {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.contact-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-info li a {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-info li i {
  margin-left: 0;
}