/* ====================================================================== 
VARIABLES
====================================================================== */
/* COLORS */
:root {
  --color-white: #f4f4f4;
  --color-black: #090909;
  --color-gray-dark: #444;
  --color-gray: #888;
  --color-gray-light: #bbb;
  --color-gray-lighter: #e5e5e5;

  --color-primary-light: #3f51b5;
  --color-primary: #303f9f;
  --color-primary-dark: #1a237e;

  /* OTHER */
  --box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}



/* ====================================================================== 
RESETS
====================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

i {
  margin: 10px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

h6 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  font-weight: 700;
}



p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}



/* ====================================================================== 
LAYOUT
====================================================================== */
.container {
  max-width: 100rem;
  margin: 0 auto;
}



/* ====================================================================== 
HEADER
====================================================================== */
.header {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem;
  width: 100%;
  box-shadow: var(--box-shadow);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.header__title,
.header__subtitle {
  color: var(--color-white);
  font-weight: 300;
}

.header__title {
  font-size: 4rem;
}

.header__subtitle {
  margin-top: -1rem;
  padding-bottom: 1rem;
}

.header__rmitid {
  font-size: 1.2rem;
}

.header__subtitle {
  font-size: 1.5rem;
}

/* NAVIGATION */
.header__nav-list-item {
  display: inline-block;
}

.header__nav-list-item:not(:last-child) {
  margin-right: 20px;
}

.header__nav-link:link,
.header__nav-link:visited {
  font-size: 1.4rem;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 6px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.header__nav-link:hover,
.header__nav-link:active {
  border-bottom: 2px solid var(--color-white);
}

#header__nav-link--selected {
  border-bottom: 2px solid var(--color-white);
}

/* ====================================================================== 
CONTENT
====================================================================== */
.content {
  padding: 4rem;
}



/* ====================================================================== 
INFORMATION SECTION
====================================================================== */
.information {
  display: flex;
  flex-direction: column;
}

.information__part1 {
  display: flex;
}

.information__photo {
  align-self: flex-start;
  width: 15rem;
  margin: 0 3rem 0 0;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.information__part2 {
  display: flex;
}

.information__futsal-photo {
  align-self: flex-start;
  width: 22rem;
  margin: 0 0 0 3rem;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}



/* ====================================================================== 
INTEREST SECTION
====================================================================== */
.interest {
  margin-top: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: var(--color-gray-light);
}

.interest__title {
  column-span: all;
}



/* ====================================================================== 
JOB DESCRIPTION SECTION
====================================================================== */
.job-description {
  margin-top: 3rem;
}

.job-description__box {
  display: flex;
}

.job-description__img-link {
  display: block;
  flex-basis: 100%;
  cursor: pointer;
  margin-left: 3rem;
}

.job-description__img {
  width: 100%;
}



/* ===================================================================== 
PROFILE
====================================================================== */
.profile__bold {
  font-weight: 700;
}

.profile__underline {
  text-decoration: underline;
}

.profile__big5-image {
  max-width: 100%;
}

.profile__learning-highlight-list {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.profile__learning-highlight {
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-size: 2rem;
}

.profile__learning-tip-list {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.profile__learning-tip {
  font-size: 1.6rem;
}


/* ===================================================================== 
FOOTER
====================================================================== */
.footer {
  padding-bottom: 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-gray-light);
}

.footer__icon {
  font-size: 3rem;
}